# All Pandas All The Time

Pandas is a library we're going to be using pretty much every day in this course, so we're going to do a ton of practice so you can be on your way to becoming a _PANDAS MASTER_.

![Kung fu panda excited](https://data.whicdn.com/images/201331793/original.gif)

Let's continue with the data from the Austin Animal Shelter. 

Data source: [intakes data](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) and [outcomes data](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238).

Once again starting off with intake data, which is data describing the animals as they enter the shelter.

In [18]:
# Imports! Can't use pandas unless we bring it into our notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# Grab the data, naming the dataframe 'intakes' this time
# Don't forget to read in DateTime as a datetime column
intakes = None

In [4]:
# Check out the first few rows

In [5]:
# Check information on the dataframe

Let's do some of the transformations we did yesterday: dropping the MonthYear column, and changing column names to be lowercase without spaces.

In [6]:
# Drop MonthYear

In [7]:
# Rename columns

In [8]:
# Sanity check

## Dealing with Null Data

It is a fact of the data science life - you will always be surrounded by 'dirty' data. What does it mean for data to be 'dirty'? What are some of the various ways that data can be 'dirty'?

-

In [9]:
# Check for null values recognized by pandas as blank

In [10]:
# Code here for a more helpful null check

There is no one way to deal with null values. What are some of the strategies we can use to deal with them?

-

How, in Pandas, can we fill null values recognized by Pandas as null? Let's practice by filling nulls for the Name column with some placeholder value, like 'No name'.

Helpful link: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html

In [11]:
# Code here to fill nulls in the Name column

Now let's check for nulls again...

In [12]:
# Sanity check

Let's try a different strategy for the one lonely null in the 'Sex upon Intake' column - let's just drop that row, since it's only one observation.

Helpful link: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html

In [13]:
# Code here to drop the whole row where Sex upon Intake is null

In [14]:
# Copy/paste code from above to re-check for nulls

How do we find sneaky null values that aren't marked by Pandas as null?

In [ ]:
# Run this cell without changes

Analyze the values you're finding in the 'Age upon Intake' column. What doesn't quite fit here?

**Note:** using `.value_counts()` is just one way to look at the values of a column. In this case, it works because we can see which values are the most common, and it's verbose enough to show even the less common values that might be problematic.

So - how do we want to deal with the data in here that doesn't make sense?

-

One strategy for dealing with data involves making it so that we can sort by age, and have a standard scale for age.

First, let's see what that would look like if we try it as the column is now:

In [ ]:
# Run this cell without changes

Let's unpack what is happening in that line of code - I take the column 'Age upon Intake' by itself (as a series), then sort the values from lowest to highest (`ascending=True`), then grab only unique results so we can see how it ordered the values without looking through all 115,088.

Does that do what we want it to? Let's discuss how this worked - how did it sort?

-

To make our problem a bit easier, without dealing with the different ways that age is broken out, let's only look at animals where the age is given in years. How can we do that?

In [ ]:
# Grab only the animals where age is given in years
years_df = intakes.loc[intakes]

In [ ]:
# Check the shape of this subset dataframe

In [ ]:
# Sanity check

Can we grab only the number of years from this? Let's make a new column where we can put this data.

In [ ]:
# Make a new column, 'Age in Years'


# Did you get a 'SettingWithCopyWarning'? No worries - let's discuss

In [ ]:
# Transform that column to an integer

In [ ]:
# Check your work

In [ ]:
# Check some statistics on our now-numeric column

In [ ]:
# Check the unique values - in order!

In [ ]:
# Let's check the mean for our now-numeric column

In [ ]:
# Now let's check the median

Let's discuss this column - what does it mean that the mean and median are different? How will that change if we remove some of the nonsense numbers?

-

In [ ]:
# Code here to deal with those nonsense numbers

In [ ]:
# Sanity check

In [ ]:
# Code here to re-check your mean/median values

## Group By

We can use a `groupby` function to find out interesting patterns among groups in our data. Let's use one now to find the average age of each animal type in years.

In [ ]:
# Run just a groupby on the animal_type column - what's the output?

In [ ]:
# Add an aggregation function

## Dealing with Duplicates

Let's go back to our full intakes dataframe

In [1]:
# Check for duplicates
intakes.duplicated()

NameError: name 'intakes' is not defined

In [ ]:
# Now check specifically for Animal IDs that are duplicated

In [ ]:
# Handle duplicates - only take the 1st intake for each animal
# Save it as a new version, named clean_intakes
clean_intakes = None

## Merging Dataframes

We were given two data sources here - both an Intakes and an Outcomes CSV. Let's merge them!

![Merge diagram from Data Science Made Simple](http://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png)

[Image from Data Science Made Simple's post on Joining/Merging Pandas Data Frames](http://www.datasciencemadesimple.com/join-merge-data-frames-pandas-python/)

In [16]:
!ls data/

Austin_Animal_Center_Intakes_10-08-20.csv
Austin_Animal_Center_Outcomes_10-14-20.csv

In [21]:
# Read in our outcomes csv as a dataframe named outcomes
outcomes = pd.read_csv('data/Austin_Animal_Center_Outcomes_10-14-20.csv')

In [22]:
# Check out our outcomes data
outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
3,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
4,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black

What column should we use to merge these DataFrames?

-

Let's do some quick cleaning on our outcomes dataframe...

In [ ]:
# Change the 'DateTime' column here to be recognized as datetime objects
clean_outcomes =

In [ ]:
# Change column names to be lower case and remove spaces

In [ ]:
# Drop duplicate animal IDs, keeping only the 1st
# Save this as clean_outcomes
clean_outcomes = None

In [ ]:
# Sanity check

Now... let's merge!

In [ ]:
# Code here to merge dataframes
combined_df = None

In [ ]:
# Code here to check out the details of our new dataframe

Let's discuss - can anyone guess why I had us remove duplicates before this merge? What would happen if I didn't? How could we make our combined_df better?

-

## Level Up!

1. Find the **age in days** for all animals, not just the ones whose age is provided in years. Be sure to do this on the original dataframe, not just on subsets of the dataframe.

   - (Assume a year is 365 days, and a month is 30 days)

        
2. Ask a few questions of the combined dataframe that you couldn't figure out by just looking at the intakes or outcomes dataframes by themselves.

   - Example: Can you find out how long each animal in the combined dataframe has been in the shelter? 
        
       - Hint: Check out Date Time objects - a new data type that isn't a string or an integer, but which Pandas can recognize as time! https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

In [ ]:
# Code here to work on level up #1

In [ ]:
# Code here to work on level up #2