![sql](images/sql-logo.jpg)

# Databases, SQL, and Connecting them to `pandas`

Long before we can do any kind of machine learning, we need access to data - most often stored in databases.

![hierarchy](images/ai-hierachy.png)

[Image Source](https://hackernoon.com/the-ai-hierarchy-of-needs-18f111fcc007)

> ^ If you haven't yet read about the AI Hierarchy of Needs, I can't recommend Monica Rogati’s fantastic blog post enough! Click the image source link to give it a read.

The task of accessing data - **Extracting, Transforming and Loading** data, often shortened to **ETL** - often falls to Data Engineers, and so today we'll be wearing the hat of a Data Engineer in order to see what it means to access data where it actually is stored.

## What does it mean to **Engineer Data**?

Let's start with a basic scenario: You have *no* current database. How would you set it up?

Data-needs considerations:

- What you want to store
- What "views" you anticipate wanting in the future

Structure considerations:

- Speed of retrieval
- How much data you are accessing
- How much you are storing

### What is a Relational Database? 

> "Most databases today are relational databases, named such because they deal with tables of data related by a common field."
> - [MariaDB's Introduction to Relational Databases tutorial](https://mariadb.com/kb/en/introduction-to-relational-databases/)

From that description, we know a few things - databases are made up of tables, which contain data that is related between tables.

Let's look at an example and unpack:

![example database schema](images/example-database-schema.png)

[Image Source](http://www.cs.montana.edu/~halla/csci440/n7/n7.html)

Lots of symbols we can examine here! These **Entity-Relationship Diagrams** (ERDs) will tell you a lot about how tables relate to each other.

First lets look at the symbols along the sides of each line in there - each line is the name of a column, followed by the allowed datatype in all caps. The symbols?

- Small Key indicates a primary key
- Blue Diamond indicates a field/attribute
- Red Diamond indicates a foreign key

As for the symbols along the lines - relationship between keys! This type of notation is called Crow's Feet notation.

<img alt="database schema connectors explained" src="images/crowsfeetsymbols.png" width=400>

[Image Source](https://www.lucidchart.com/pages/ER-diagram-symbols-and-meaning)

Of course - this is but one way of visualizing these relationships (there are others)

## Enter SQL

SQL - **Structured Query Language** - is a standard language for connecting to, changing and retrieving data stored in relational databases.

SQL is a language - [but there are dialects.](https://training-nyc.com/learn/sql/the-many-flavors-of-sql-a-guide-to-relational-databases) Some are proprietary, some are open source, and all have their quirks. At their core, however, they're mostly the same and use many of the same keywords. If you're proficient in one flavor of SQL, you can easily transition to one of the others.

### SQLite

<img src="images/SQLite-Python.jpg" width=400>

One of many flavors of SQL! And the one we'll be using!

- C library (fast)
- lightweight disk-based database
- that doesn’t require a separate server process
- nonstandard variant of the SQL query language
- applications can use SQLite for internal data storage
- use case: prototype an application using SQLite and then port the code to a larger database such as PostgreSQL or Oracle

#### Using it in Python:

[sqlite3 documentation](https://docs.python.org/2/library/sqlite3.html)

### Other flavors/database types?

To connect to other database types (thus other flavors of SQL) there are many different Python libraries:

- Oracle: [cx_Oracle](https://oracle.github.io/python-cx_Oracle/)
- MySQL: [MySQL-python](https://github.com/farcepest/MySQLdb1)
- PostgreSQL: [Psycopg2](http://initd.org/psycopg/docs/)
- Microsoft SQL Server: [pymssql](http://www.pymssql.org/en/stable/)

## Let's Explore a Database!

In [ ]:
# of course, need an import

#### Load a database object with `connect` and `cursor`

In [ ]:
con = None
cursor = None

Our cursor is what we'll use to execute queries on a database.

#### Using `Pragma`

[`Pragma`](https://www.sqlite.org/pragma.html) - note that PRAGMA is a query statement specific to SQLite

**output:**

`(column id, column name, data type, whether or not the column can be NULL, the default value for the column, and whether the column is a foreign key)`

In [ ]:
cursor.execute("PRAGMA table_info(airports)")
info = cursor.fetchall()
print(*info, sep = "\n")  #cool new way of using python's print

#### Making fetch happen

`.fetchall()` is how you get the query results out of the object.

You can also `.fetchone()` or `.fetchmany()`

**Task:** Get the descriptive data for the other two tables, `airlines` and `routes`

In [ ]:
# Grab data on the airlines table

In [ ]:
# Grab data on the routes table

***
## Basic SQL commands

### The Structure of a SQL Query

![sql query structure](images/sql_statement.jpg)

[Image Source](https://searchsqlserver.techtarget.com/feature/How-to-use-the-SELECT-statement-in-SQL)

### Constructing SQL queries

**`SELECT`**:  The columns you want

- options: 
    - `DISTINCT`
    - using `AS` to rename columns, called *aliasing*
    - single number aggregates (like count)

**`FROM`:** the source tables

- options: 
    - also can alias with `AS`
    - where we can join other tables, with `[LEFT|INNER|RIGHT|FULL] JOIN ___ [ON|USING]`

**`WHERE`**: your filters

- options: 
    - comparators like `=` & `>=`
    - `BETWEEN`, `IN`, `LIKE` (with wildcards `%`)
    - booleans like `AND`, `OR`, `NOT`

**`ORDER BY`**: sorting

- options: 
    - `ASC` (default) and `DESC`

**`LIMIT`**:  # of rows to return (pair with `OFFSET`)

There are more! So many more!

**NOTE:** SQL doesn't care about spacing, and doesn't care about capslock for statement options. But, it's convention - plus it makes your queries easier to read, for yourself and others.

#### Use `sqlite_master` to find all the tables in the schema

Remember, we've defined a `cursor` that can execute queries - time to use it!

In [ ]:
cursor.execute("""
    --SQL query here
    """).fetchall()

**Task**: 

- Select only **active** airlines in the **United Kingdom** from the `airlines` table

In [ ]:
# can also check the description for details once a query has run

**Task**: 
- Select the **unique** list of **countries** with airports

In [ ]:
# what if I just wanted a count of how many?

### SQL Joins

SQL joins can be used to both **add** data to a table and **remove** data from a table.

<img src="images/venn.png" width=550>

**Task** 

- Write a query that will join the **latitude** and **longitude** data from the `airports` table to the information on the `routes` table

In [ ]:
# what does the routes table look like?

In [ ]:
# what does the airports table look like?

In [ ]:
# what join(s) do we need?

### Grouping statements

Combine `SELECT` and `GROUP BY` when you want aggregates by values

`SELECT` `min(x)` ... `max()`, `sum()`, etc.

`GROUP BY x`

**Task**

- Which countries have the most active airlines?

**Task**

- What about inactive airlines?

**Task**

- How many airports are there in each timezone?

In [ ]:
# It's always a good idea to close our connections when we're done
cursor.close()
con.close()

## Moving from SQLite3 to pandas

In [ ]:
# need to import pandas!

In [1]:
pd_con = None
df = None

In [ ]:
df.head()

**Task**: 
Convert one of the earlier queries in the lesson to a pandas dataframe

Another way to move results into a pandas dataframe:

In [ ]:
# don't forget to close connections again

## Additional Resources

Reading Resources:

- [MariaDB's list of relational database terms, which also helps explain table relationships](https://mariadb.com/kb/en/relational-databases-basic-terms/)
- [History of SQL Article](https://www.businessnewsdaily.com/5804-what-is-sql.html)
- [The original SQL paper from the 1970s](https://www.seas.upenn.edu/~zives/03f/cis550/codd.pdf)

Free SQL Courses: 

- [Kaggle's Courses](https://www.kaggle.com/learn/overview) on Intro to SQL and Advanced SQL - will include connecting to a Google Biq Query database
- [Khan Academy's SQL Course](https://www.khanacademy.org/computing/computer-programming/sql), which includes using more complicated query commands like CASE
- [Coursera Course on Modern Big Data Analysis with SQL](https://www.coursera.org/specializations/cloudera-big-data-analysis-sql) which was just recommended to me via the data science subreddit - covers SQL queries with specific considerations for very very large datasets stored in clusters in the cloud (specifically covers Hive and Impala, I'll likely be taking this course for fun over the next few weeks if anyone wants to join me!)